<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_YS2fiVudJHPKU0HJzzpmKZoZU4q77KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>721746651058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sccapwlMovil</string>
	<key>PROJECT_ID</key>
	<string>waterlight-918c1</string>
	<key>STORAGE_BUCKET</key>
	<string>waterlight-918c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721746651058:ios:6fc0442f3535cbe4f9e6ab</string>
</dict>
</plist>